
<!DOCTYPE html>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<style type="text/css">
            label, input {
                display: block;
            }
            span.helptext {
                display: none;
            }
            body {
             background: url('{% static "img/login.jpg" %}') no-repeat center center fixed;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
            }
    </style>

<body>

<center style = "color:white"><h1> Your audio is recorded</h1></center>
<center style = "color:white"><h2>Now going ahead with authentication </h2><center>

<center style = "color:white"><h2> It is time to identify yourself </h2></center>
<button><center><a href="/PredictEngine">Click to Identify></a></button></center>

</body>
</html>
